<article class="post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">

    <div class="post-card-content">

        <a class="post-card-content-link post-card-{{id}}" href="{{url}}">
            {{#if feature_image}}

              <style type="text/css">
              .post-card-{{id}} {
                  background-image: url({{img_url feature_image size='xl'}});
              }
              @media(max-width: 1000px) {
                  .post-card-{{id}} {
                      background-image: url({{img_url feature_image size='l'}});
                      background-image: -webkit-image-set(
                              url({{img_url feature_image size='l'}}) 1x,
                              url({{img_url feature_image size='xl'}}) 2x
                      );
                      background-image: image-set(
                              url({{img_url feature_image size='l'}}) 1x,
                              url({{img_url feature_image size='xl'}}) 2x
                      );
                  }
              }
              @media(max-width: 600px) {
                  .post-card-{{id}} {
                      background-image: url({{img_url feature_image size='m'}});
                      background-image: -webkit-image-set(
                              url({{img_url feature_image size='m'}}) 1x,
                              url({{img_url feature_image size='l'}}) 2x
                      );
                      background-image: image-set(
                              url({{img_url feature_image size='m'}}) 1x,
                              url({{img_url feature_image size='l'}}) 2x
                      );
                  }
              }
              </style>

              <h3 class="title">{{title}}</h3>

            {{/if}}
        </a>



    </div>{{!--/.post-card-content--}}

</article>
